<!--Servicios contradados como contratante-->

<ion-header>
  <ion-navbar>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{pageTitle}}</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="user.details.session.services_confirm.length !== 0">
  <ion-title>Servicios Solicitados</ion-title>
  <ion-card *ngFor="let service of user.details.session.services_confirm; let i = index">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-row >
            <ion-col col-4 (click)='serviceDetail(service)'>
              <img col-12 src="{{service.services.image}}"/>
            </ion-col>
            <ion-col col-8>
                  {{ service.services.name }}<br>
                  Solicitado: {{service.request_date}}<br>
                  Total: {{service.total_price}}<br>
                  <div style="color:#12add0" *ngIf="service.status_id === 1 ">
                    Estado: Solicitado<br>
                    <button (click)="ChangeStatusService(service,7)">Cancelar</button>
                  </div>
                  <div style="color:#12d067" *ngIf="service.status_id === 2 ">
                    Estado: Aceptado
                  </div>
                  <div style="color:#d6d026" *ngIf="service.status_id === 3 ">
                    Estado: En proceso
                  </div>
                  <div style="color:#d66f26" *ngIf="service.status_id === 4 ">
                    Estado: Terminado<br>
                    <button (click)="ChangeStatusService(service,5)">Aprobar</button>
                  </div>
                  <div style="color:#791dbf" *ngIf="service.status_id === 5 ">
                    Estado: Aprobado
                  </div>
                  <div style="color:#ff0000" *ngIf="service.status_id === 6 ">
                    Estado: Rechazado
                  </div>
                  <div style="color:#ff0000" *ngIf="service.status_id === 7 ">
                    Estado: Cancelado
                  </div>
            </ion-col>
          </ion-row>
        </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
