<ion-header>
  <ion-navbar>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{pageTitle}}</ion-title>
    </ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
        <ion-label color="gray"><ion-icon name="locate" color="black"></ion-icon></ion-label>
        <ion-input placeholder="Que buscas?"></ion-input>
    </ion-item>
  </ion-list>


  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-title>SERVICIOS</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card *ngFor="let service of services" >
    <ion-grid *ngIf="service.user_id != user.details.session?.id">
      <ion-row>
        <ion-col col-12 (click)='serviceDetail(service)'>
          <ion-row>
            <ion-col col-4>
              <img col-12 src="{{service.image}}"/>
            </ion-col>
            <ion-col col-8>
              <ion-item>
                <ion-col><ion-icon name="star" color="bright"></ion-icon></ion-col>
                Calificación
                <ion-badge item-end>9</ion-badge>
              </ion-item>
              <ion-item>
                <ion-col><ion-icon name="heart" color="danger"></ion-icon></ion-col>
                Satisfechos
                <ion-badge item-end>260k</ion-badge>
              </ion-item>
              <ion-item>
                <ion-col><ion-icon name="heart" color="danger"></ion-icon></ion-col>
                Precio por hora
                <ion-badge item-end> $ {{ service.price}}</ion-badge>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
          <ion-card-content>
            <ion-card-title>
              {{ service.name }}
            </ion-card-title>
            <p>
              Prestador: {{ service.user.name}}
            </p>
            <p>
              Tipo de servicio: {{service.services_type_id}}
            </p>

          </ion-card-content>
        </ion-row>
        <ion-item>
          <button ion-button (click)="getService(service,user.details.session.id)">Contratar</button>
        </ion-item>
      </ion-grid>
    </ion-card>

  </ion-content>
